body {
    background-color: #f1f1f1;
  }
  
  table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  td {
    padding: 10px 20px;
    width: 100%;
  }
  
  input[name="first"] {
    display: inline-flex;
    align-items: center;
    background-color: #fafafa;
    width: 300px;
    height: 45px;
    border: 2px solid lightgrey;
    color: #8c8c8c;
    border-radius: 5px;
    font-family: arial;
    font-size: 17px;
    padding: 10px 10px;
    line-height: 0;
  }
  
  input[name="second"] {
    display: inline-flex;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 45px;
    border: 3px solid dodgerblue;
    color: #8c8c8c;
    border-radius: 5px;
    font-family: arial;
    font-size: 17px;
    padding: 10px 10px;
  }
  
  input[name="third"] {
    display: inline-flex;
    align-items: center;
    background-color: gold;
    width: 300px;
    height: 45px;
    border: 2px solid khaki;
    color: #8c8c8c;
    border-radius: 5px;
    font-family: arial;
    font-size: 17px;
    padding: 10px 10px;
  }
  
  input[name="forth"] {
    display: inline-flex;
    align-items: center;
    background-color: lightgrey;
    width: 300px;
    height: 45px;
    border: 1px solid lightgrey;
    color: #8c8c8c;
    border-radius: 5px;
    font-family: arial;
    font-size: 17px;
    padding: 10px 10px;
  }
  
  input[name="fifth"] {
    display: inline-flex;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 45px;
    border: 2px solid #333333;
    color: #8c8c8c;
    border-radius: 30px;
    font-family: arial;
    font-size: 17px;
    padding: 10px 10px;
  }
  
  input[name="sixth"] {
    display: inline-flex;
    align-items: center;
    background-color: #fffffe;
    width: 300px;
    height: 45px;
    border: 2px dotted grey;
    color: #8c8c8c;
    border-radius: 5px;
    font-family: arial;
    font-size: 17px;
    padding: 10px 10px;
  }
  
  input[name="seventh"] {
    display: inline-flex;
    align-items: center;
    background-color: #f1f1f1;
    width: 300px;
    height: 45px;
    border: 1px solid lightgrey;
    color: #8c8c8c;
    font-family: arial;
    font-size: 17px;
    padding: 10px 10px;
  }
  
  input[name="eighth"] {
    display: inline-flex;
    align-items: center;
    background-color: #333;
    width: 300px;
    height: 45px;
    border: 1px solid #333;
    color: #8c8c8c;
    border-radius: 5px;
    font-family: arial;
    font-size: 17px;
    padding: 10px 10px;
  }
  